<div class="wrap">
  <div class="icon-container">
    <div data-icon="ei-chevron-up" data-size="l" class="icon top"></div>
  </div>
  <div class="selector">
    <ul>
      <li *ngFor="let album of albums" (click)="changeAlbum(album)" [ngClass]="{'active': currentAlbum && album['id'] === currentAlbum['id']}">
      <a (click)="userClicked(album['userId'])">{{ users.getUserName(album['userId']) }}</a> / {{album['title']}}</li>
    </ul>
  </div>
  <div class="icon-container">
    <div data-icon="ei-chevron-down" data-size="l" class="icon bottom"></div>
  </div>
</div>