.dropshadow {
    background: rgba(0, 0, 0, 0.8);
    position: fixed;
    right: 0;
    bottom: 0;
    margin: 0;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropshadow .row {
    display: flex;
    align-items: center;
}

.dropshadow .row > div:nth-child(2) {
    text-align: center;
}

.dropshadow .row > div.col-xs-1 {
    display: flex;
}

img {    
    max-width: 100%;
}

.icon-close {
    position: absolute;
    top: 0;
    right: 0;
    color: white;
}

.dont-display {
    display: none !important;
}

.photo-info {
    margin: 0 auto;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 600px;
    background-color: rgba(0, 0, 0, 0.2);    
    position: relative;
    height: 100px;
    top: -95px;
    transition: all .2s ease-in-out;
}

.photo-info > div {
    color: white;
    margin: 0 auto;
    font-size: 1.3em;
}

.photo-info > div > a {
    color: white;
    font-weight: 800;
    text-decoration: none;
    transition: all .2s ease-in-out;
}

.photo-info > div > a:hover {
    color: #EF5397;
    text-decoration: none;
}

.photo-info > div > a:visited {
    color: #FDB0D1;
}

.image-container {
    height: 600px;
}

