/* You can add global styles to this file, and also import other style files */
* {
    font-family: 'Encode Sans', sans-serif;
}

app-album-selector .icon {
    height: 100%;
}

app-album-selector .icon-container {
    height: 10vh;
    min-height: 50px;
    width: 100%;
}

app-large-photo-viewer .navi-icon {
    fill: white;
}

.icon {
    transition: all .2s ease-in-out; 
}

.icon:not(.disabled):hover {
    transform: scale(1.1);
}

img.photo {
    transition: all .2s ease-in-out;
}

img.photo:hover {
    transform: scale(1.1);
}

.disabled > div {
    fill: rgba(0, 0, 0, 0);
}
